# Different Techniques to load data

In [4]:
import pandas as pd
import numpy as np

## 1. CSV File

Most comman format of representing data. If header values are NOT specified in the dataset, include header=None as function argument.

In [41]:
df = pd.read_csv("pima_indians_diabetes.csv",header=None)

In [42]:
df.head()

   0    1   2   3   4     5      6   7    8
0  1    2   3   4   5   6.0  7.000   8    9
1  6  148  72  35   0  33.6  0.627  50  pos
2  1   85  66  29   0  26.6  0.351  31  neg
3  8  183  64   0   0  23.3  0.672  32  pos
4  1   89  66  23  94  28.1  0.167  21  neg

## 2. MAT File

.mat extension files contain MATLAB formatted data. scipy.io.loadmat() function reads .mat files and returns data in form of dict.

In [43]:
import scipy.io
import numpy as np

data = scipy.io.loadmat("heightWeight.mat")

In [44]:
data.values()

dict_values([b'MATLAB 5.0 MAT-file, Platform: PCWIN, Created on: Fri May 28 09:41:38 2010', '1.0', [], array([[  1,  67, 125],
       [  2,  68, 140],
       [  2,  67, 142],
       [  2,  60, 110],
       [  2,  64,  97],
       [  2,  61, 106],
       [  1,  79, 210],
       [  2,  61, 110],
       [  1,  71, 150],
       [  2,  66, 145],
       [  2,  60, 113],
       [  1,  71, 175],
       [  1,  72, 145],
       [  2,  55, 110],
       [  2,  64, 112],
       [  2,  65, 135],
       [  2,  65, 135],
       [  2,  71, 140],
       [  2,  68, 130],
       [  1,  71, 152],
       [  2,  67, 127],
       [  1,  70, 143],
       [  2,  68, 165],
       [  1,  72, 160],
       [  1,  71, 185],
       [  2,  65, 114],
       [  2,  67, 116],
       [  2,  66, 113],
       [  2,  63, 145],
       [  2,  62, 116],
       [  1,  71, 155],
       [  2,  64, 107],
       [  2,  64, 104],
       [  2,  69, 137],
       [  1,  75, 200],
       [  1,  65, 150],
       [  2,  67, 140],
       [  2,  65, 125],
       [  1,  75, 240],
       [  2,  57, 140],
       [  1,  68, 135],
       [  1,  73, 178],
       [  2,  68, 122],
       [  2,  62, 145],
       [  1,  68, 190],
       [  1,  74, 180],
       [  2,  63, 125],
       [  1,  73, 165],
       [  2,  66, 115],
       [  2,  68, 125],
       [  1,  72, 210],
       [  2,  63, 118],
       [  2,  65, 135],
       [  1,  75, 225],
       [  2,  69, 145],
       [  2,  72, 240],
       [  2,  69, 170],
       [  2,  62, 105],
       [  2,  64, 125],
       [  2,  63, 130],
       [  1,  78, 190],
       [  2,  63, 115],
       [  1,  73, 280],
       [  2,  69, 125],
       [  2,  63, 120],
       [  2,  63, 145],
       [  2,  63, 132],
       [  1,  70, 195],
       [  1,  69, 168],
       [  2,  61, 105],
       [  2,  65, 112],
       [  1,  72, 215],
       [  2,  69, 150],
       [  2,  70, 150],
       [  2,  67, 125],
       [  2,  64, 135],
       [  1,  70, 185],
       [  2,  71, 127],
       [  1,  72, 178],
       [  2,  66, 123],
       [  1,  66, 145],
       [  2,  71, 135],
       [  1,  68, 135],
       [  1,  67, 145],
       [  2,  67, 145],
       [  1,  69, 193],
       [  2,  66, 125],
       [  1,  71, 148],
       [  2,  65, 125],
       [  2,  62, 120],
       [  2,  65, 119],
       [  2,  68, 160],
       [  2,  67, 140],
       [  2,  63, 115],
       [  2,  64, 125],
       [  2,  61,  95],
       [  2,  62, 126],
       [  2,  63, 165],
       [  1,  70, 167],
       [  1,  73, 250],
       [  1,  74, 280],
       [  1,  79, 180],
       [  1,  71, 175],
       [  2,  63, 120],
       [  1,  73, 125],
       [  1,  70, 156],
       [  1,  75, 185],
       [  2,  62, 130],
       [  1,  67, 140],
       [  2,  65, 120],
       [  2,  66, 140],
       [  1,  69, 155],
       [  2,  60, 105],
       [  2,  67, 125],
       [  2,  65, 115],
       [  2,  66, 130],
       [  1,  69, 170],
       [  1,  73, 247],
       [  1,  74, 172],
       [  1,  65, 147],
       [  2,  62, 140],
       [  2,  64, 120],
       [  2,  63, 110],
       [  2,  65, 115],
       [  2,  61, 115],
       [  1,  73, 165],
       [  1,  74, 180],
       [  1,  72, 182],
       [  2,  65, 130],
       [  1,  73, 160],
       [  1,  74, 190],
       [  1,  75, 180],
       [  2,  70, 165],
       [  2,  62, 140],
       [  1,  68, 165],
       [  2,  57, 125],
       [  1,  72, 160],
       [  2,  66, 128],
       [  2,  65, 115],
       [  2,  63, 135],
       [  2,  66, 118],
       [  2,  74, 130],
       [  2,  64, 130],
       [  2,  67, 140],
       [  1,  71, 174],
       [  2,  60, 118],
       [  2,  65, 133],
       [  2,  62, 107],
       [  2,  64, 145],
       [  1,  66, 150],
       [  2,  71, 165],
       [  2,  69, 143],
       [  2,  70, 155],
       [  2,  64, 138],
       [  2,  62, 147],
       [  1,  77, 245],
       [  2,  62, 130],
       [  2,  69, 135],
       [  1,  70, 150],
       [  1,  71, 135],
       [  1,  72, 160],
       [  2,  68, 110],
       [  1,  69, 155],
       [  2,  63,  96],
       [  2,  65, 140],
       [  2,  67, 120],
       [  2,  67, 130],
       [  1,  73, 155],
       [  2,  63, 105],
       [  1,  73, 160],
       [  2,  63, 112],
       [  2,  68, 125],
       [  2,  69, 132],
       [  2,  69, 175],
       [  2,  63, 150],
       [  2,  64, 105],
       [  2,  69, 135],
       [  2,  63, 134],
       [  2,  64, 115],
       [  2,  63, 123],
       [  2,  67, 170],
       [  1,  71, 162],
       [  2,  68, 140],
       [  2,  64, 115],
       [  1,  73, 205],
       [  2,  68, 130],
       [  2,  67, 145],
       [  2,  61, 125],
       [  1,  69, 180],
       [  2,  66, 135],
       [  2,  64, 140],
       [  1,  76, 185],
       [  2,  64, 135],
       [  2,  63, 127],
       [  2,  62, 115],
       [  2,  62, 135],
       [  2,  71, 142],
       [  2,  67, 140],
       [  2,  68, 135],
       [  1,  71, 178],
       [  2,  67, 135],
       [  2,  64, 127],
       [  2,  70, 153],
       [  2,  62, 110],
       [  1,  73, 165],
       [  1,  79, 165],
       [  1,  75, 160],
       [  1,  71, 170],
       [  2,  65, 117],
       [  1,  70, 185]], dtype=uint16)])

The below cell converts .mat file to .csv file

In [55]:
for i in data:
    if '__' not in i and 'readme' not in i:
        np.savetxt(("new"+i+".csv"),data[i],delimiter=',')

In [56]:
df = pd.read_csv("newheightWeightData.csv",header=None)

In [57]:
df.head()

     0     1      2
0  1.0  67.0  125.0
1  2.0  68.0  140.0
2  2.0  67.0  142.0
3  2.0  60.0  110.0
4  2.0  64.0   97.0

## 3.DAT File

DAT file is a generic data file which consists of data in form of text, binary, video etc. As the data seperator for this file is white space, regular expression '\s+' is specified as the seperator argument.

In [48]:
dat_df= pd.read_csv('data.dat', sep='\s+', header=None)

In [49]:
dat_df.head()

      0         1         2         3
0 -10.0 -3.000000 -8.396276 -1.183832
1  -9.9 -2.990752 -1.723503 -0.010239
2  -9.8 -2.963065 -6.383100 -0.520145
3  -9.7 -2.917110  9.912624  1.948031
4  -9.6 -2.853169  0.407724  0.000136